@model YTE.Common.DTOS.PaginatedList<YTE.BusinessLogic.Implementation.Manga.Model.ListMangaModel>
@inject YTE.Common.DTOS.CurrentUserDto CurrentUser
<h1  class="py-3" >Mangas</h1>

@if (CurrentUser.Roles.Contains("Admin") || CurrentUser.Roles.Contains("ModManga"))
{

    <a class="btn btn-outline-success" href="/Film/Create" style="float: right;">Add a new manga</a>
}

<link href="~/css/input.css" rel="stylesheet" />
<form href="/Manga/List" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Title: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-outline-primary" />
            <a class="btn btn-outline-secondary" href="/Manga/List">Clear filter</a>
        </p>
    </div>
</form>
<hr />

<div class="card-columns">
    @foreach (var item in Model)
    {
        <div class="card shadow-sm p-3 mb-5 bg-white rounded ">
            <img class="card-img-top" src="@item.Poster" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text"><b>@item.Author</b>'s manga sits at <b>@item.NoChapters </b>chapters. For the moment this manga has <b>@item.NoReviews </b>reviews and the average score based on those reviews is <i>@item.Average </i>.</p>
                <hr />
                <a class="btn btn-outline-secondary" href="/Manga/Details/@item.Id">Details</a>
                <br />
                @if (CurrentUser.IsAuthenticated)

                {

                    @if (item.EligibleFavoriteList)

                    {
                        @if (!item.AddedToFavoriteList)

                        {
                            <button id="favorite" href="#" class="btn btn-outline-warning" onclick="addToFavorite('@item.Id')">Add to favorites</button>
                            <br />

                        }
                        else
                        {

                            <button id="removefavorite" href="#" class="btn btn-outline-danger" onclick="removeFromFavorite('@item.Id')">Remove from favorites</button>
                            <br />

                        }

                    }
                    else
                    {
                        @if (!item.AddedToWatchList)

                        {
                            <button id="favorite" href="#" class="btn btn-outline-info" onclick="addToWatchList('@item.Id')">Add to watchlist</button>
                            <br />

                        }
                        else
                        {

                            <button id="removefavorite" href="#" class="btn btn-outline-danger" onclick="removeFromWatchList('@item.Id')">Remove from watchlist</button>
                            <br />

                        }
                    }
                }
                <br />


                @if (CurrentUser.Roles.Contains("Admin") || CurrentUser.Roles.Contains("ModManga"))

                {
                    <i>Admin or Mod actions </i>
                    <hr />
                    <a class="btn btn-outline-dark" href="/Manga/Edit/@item.Id">Edit</a>
                    <br />

                    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#ModalDeleteManga_@item.Id">
                        Delete
                    </button>

                    <div class="modal fade" id="ModalDeleteManga_@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalDeleteManga_@item.Id">Delete <i>@item.Name</i> Manga</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete <i>@item.Name</i> Manga?
                                    <br />
                                    <a href="/Manga/Delete/@item.Id" type="submit" class="btn btn-danger">Yes</a>
                                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">No</button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
            <div class="card-footer">
                <small class="text-muted">Released at @item.ReleaseDate.ToShortDateString()</small>
            </div>
        </div>


    }
</div>
@{
    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";
}
<a asp-action="List"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="List"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>
@section Scripts{
    <script src="~/js/add-favorite.js"></script>
}