@model YTE.BusinessLogic.Implementation.Admin.Model.DetailsUserModel

<h1 class="py-3">Details of <i>@Model.UserName</i></h1>

<div>

    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Model.Email
        </dd>
        <dt class="col-sm-2">
            UserName
        </dt>
        <dd class="col-sm-10">
            @Model.UserName
        </dd>
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            Pronoun
        </dt>
        <dd class="col-sm-10">
            @Model.Pronoun
        </dd>
        <dt class="col-sm-2">
            Age
        </dt>
        <dd class="col-sm-10">
            @Model.Age
        </dd>
        <dt class="col-sm-2">
            Date of Join
        </dt>
        <dd class="col-sm-10">
            @Model.JoinDate.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            Gender
        </dt>
        <dd class="col-sm-10">
            @Model.Gender
        </dd>
        <dt class="col-sm-2">
            Roles
        </dt>
        <dd class="col-sm-10">
            @{
                foreach (var role in @Model.Roles)
                {
                    <b>@role</b>
                }
            }
        </dd>
        <dt class="col-sm-2">
            Profile Picture
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Image" width="100" height="100" />
        </dd>
    </dl>
</div>
<div class="btn-group" role="group">
    <a type="button" class="btn btn-outline-primary" href="/Admin/UserList">Back to List</a>
    <a type="button" class="btn btn-outline-dark" href="/Admin/EditUser/@Model.Id">Edit Account</a>

    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#ModalDeleteUser_@Model.Id">
        Delete
    </button>

    <div class="modal fade" id="ModalDeleteUser_@Model.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Delete <i>@Model.UserName</i>'s account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete <i>@Model.UserName</i>'s account?
                    <br />
                    <a href="/Admin/DeleteUser/@Model.Id" type="submit" class="btn btn-danger">Yes</a>
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">No</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="~/js/delete.js"></script>
}