@model YTE.Common.DTOS.PaginatedList<YTE.BusinessLogic.Implementation.ArtReview.Model.ListArtReviewModel>
@inject YTE.Common.DTOS.CurrentUserDto CurrentUser

<h1 class="py-3">Reviews for @if (Model.Count() > 0)
{
    <a href="/@Model.First().Route/Details/@Model.First().ArtObjectId">@Model.First().ArtName</a>
}
else { <i> an object with no reviews</i>}</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                UserName
            </th>
            <th>
                Image
            </th>
            <th>
                Review
            </th>
            <th>
                Experienced at
            </th>
            <th>
                <a asp-action="ListReviewsOfArt" asp-route-sortOrder="@ViewData["DateSortParm"]"asp-route-currentFilter="@ViewData["CurrentFilter"]">Date of review</a>
            </th>
            <th>
                <a asp-action="ListReviewsOfArt" asp-route-sortOrder="@ViewData["ScoreSortParm"]"asp-route-currentFilter="@ViewData["CurrentFilter"]">Score</a>
            </th>
            <th></th>
        </tr>
    </thead>

        @if (Model.Count == 0)
        {
            <i>No Reviews yet</i>
        }
        else
        {
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="/UserProfile/Details/@item.UserName">@item.UserName</a>
                    </td>
                    <td>
                        <img src="@item.Image" width="100" height="100" />
                    </td>
                    <td id="shorten">
                        @item.Review
                    </td>
                    <td>
                        @item.ExperiencedAt.ToShortDateString()
                    </td>
                    <td>
                        @item.Date.ToShortDateString()
                    </td>
                    <td>
                        @item.Score
                    </td>
                    <td>

                        @{
                            if (CurrentUser.Id == item.UserId || CurrentUser.Roles.Contains("Admin"))
                            {
                                <a class="btn btn-outline-dark" href="/ArtReview/Edit/@item.ArtObjectId/@item.UserName">Edit</a>
                                <br />

                                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#ModalDeleteReview_@item.UserName">
                                    Delete
                                </button>

                                <div class="modal fade" id="ModalDeleteReview_@item.UserName" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Delete <i>@item.UserName</i>'s review</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete <i>@item.UserName</i>'s review?
                                                <br />
                                                <a href="/ArtReview/Delete/@item.ArtObjectId/@item.UserName" type="submit" class="btn btn-danger">Yes</a>
                                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">No</button>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        }

                    </td>
                </tr>
            }
        </tbody>
        }
</table>
@{
    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";
}

<a asp-action="ListReviewsOfArt"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="ListReviewsOfArt"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
@section Scripts {
    <script src="~/js/jquery-shorten.js"></script>
    <script src="~/js/apply-shorten.js"></script>
    <script src="~/js/delete.js"></script>
}
