@model YTE.BusinessLogic.Implementation.Film.Model.DetailsFilmModel
@inject YTE.Common.DTOS.CurrentUserDto CurrentUser

<div class="py-3" ><h1 style=" text-align: center;"> <i>"@Model.Name"</i></h1></div>

<div>
    <hr />
    <div class="card shadow-sm p-3 mb-5 bg-white rounded " style="width: 25rem; margin: 0 auto; /* Added */ float: none; /* Added */ margin-bottom: 10px; /* Added */">
        <img src="@Model.Poster" class="card-img-top">
        <div class="card-body">
            <p class="card-text"> A @Model.Language film released in <b>@Model.ReleaseDate.ToShortDateString()</b> by <b>@Model.Studio </b>studio and directed by <b>@Model.Author </b>has a proud <i>@Model.Length </i>runtime. For the moment this film has <b>@Model.NoReviews </b>reviews and the average score based on those reviews is <i>@Model.Average </i>. Read the synopsis below.  </p>
            <hr />


            @if (!CurrentUser.IsAuthenticated)
            {
                <a class="btn btn-outline-success" style=" cursor:pointer;" tabindex="0" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="Publishing reviews is the heart of YTE and we would love to let anyone do it. Unfortunetly the internet is not always a kind place so in order to start publishing your thoughts on art pieces we have to get to know you. Log in and follow the steps to begin your journey on YTE."> Create Review</a>
            }
            else
            {
                @if (Model.IsReviewedByCurrentUser)
                {
                    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#ModalDeleteReview_@CurrentUser.UserName">
                        Delete Review
                    </button>

                    <div class="modal fade" id="ModalDeleteReview_@CurrentUser.UserName" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Delete your review</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete your review?
                                    <br />
                                    <a href="/ArtReview/Delete/@Model.Id/@CurrentUser.UserName" type="submit" class="btn btn-outline-danger">Yes</a>
                                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">No</button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <a style=" cursor:pointer;" class="btn btn-outline-success" id="check" href="/ArtReview/Create/@Model.Id">Create Review</a>
                }
            }

            <a class="btn btn-outline-secondary" href="/ArtReview/ListReviewsOfArt/@Model.Id">See all reviews</a>
            @if (CurrentUser.IsAuthenticated)
            {
                @if (Model.EligibleFavoriteList)

                {
                    @if (!Model.AddedToFavoriteList)

                    {
                        <button id="favorite" class="btn btn-outline-warning" onclick="addToFavorite('@Model.Id')">Add to favorites</button>

                    }
                    else
                    {

                        <button id="removefavorite" class="btn btn-outline-danger" onclick="removeFromFavorite('@Model.Id')">Remove from favorites</button>

                    }

                }
                else
                {
                    @if (!Model.AddedToWatchList)

                    {
                        <button id="favorite" class="btn btn-outline-info" onclick="addToWatchList('@Model.Id')">Add to watchlist</button>

                    }
                    else
                    {

                        <button id="removefavorite" class="btn btn-outline-danger" onclick="removeFromWatchList('@Model.Id')">Remove from watchlist</button>

                    }
                }
            }
            @if (CurrentUser.Roles.Contains("Admin") || CurrentUser.Roles.Contains("ModFilm"))
            {
                <a class="btn btn-outline-dark" href="/Film/Edit/@Model.Id">Edit</a>
                <br />
                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#ModalDeleteFilm_@Model.Id">
                    Delete Film
                </button>

                <div class="modal fade" id="ModalDeleteFilm_@Model.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Delete <i>@Model.Name</i> Film</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete <i>@Model.Name</i> Film?
                                <br />
                                <a href="/Film/Delete/@Model.Id" style=" cursor:pointer;" type="submit" class="btn btn-danger">Yes</a>
                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">No</button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="card-footer">
                @if (Model.GenreList.Count() != 0)
                {
                <small class="text-muted">@foreach (var genre in Model.GenreList)
                {@genre<span> </span>}</small>
                }
                else
                {
                    <small class="text-muted">No genres associated</small>
                }
            </div>
        </div>
    </div>
    <hr />
</div>
    <div>
        <b>Synopsis: </b><p class="shorten">@Model.Description</p>
    </div>
    <table class=" table">
        <thead>
            <tr>
                <th>
                    User
                </th>
                <th>
                    Score
                </th>
                <th>
                    Experienced at
                </th>
                <th>
                    Date of review
                </th>
                <th>
                    Review
                </th>
                <th></th>

            </tr>
        </thead>
    </table>
    <h4>Recent Reviews</h4>
    @if (Model.RecentReviews.Count == 0)
    {
        <i>No Reviews yet</i>
        <br />
    }
    else
    {
        <div>
            <table class="table">

                <tbody>
                    @foreach (var item in Model.RecentReviews)
                    {
                        <partial name="_ListArtReview" model="@item" />
                    }

                </tbody>

            </table>
        </div>
        <div>
            <h4>
                Most Positive Reviews
            </h4>
            <table class="table">

                <tbody>

                    @foreach (var item in Model.MostPositiveReviews)
                    {
                        <partial name="_ListArtReview" model="@item" />
                    }
                </tbody>
            </table>
        </div>
        <div>

            <h4>Most Negative Reviews</h4>
            <table class="table">

                <tbody>
                    @foreach (var item in Model.MostNegativeReviews)
                    {
                        <partial name="_ListArtReview" model="@item" />
                    }
                </tbody>
            </table>

        </div>
    }
    @section Scripts{

        <script src="~/js/jquery-shorten.js"></script>
        <script src="~/js/apply-shorten.js"></script>
        <script src="~/js/add-favorite.js"></script>
        <script src="~/js/add-popover.js"></script>
    }
