@model YTE.Common.DTOS.PaginatedList<YTE.BusinessLogic.Implementation.FollowList.Model.ListFollowersListModel>
@inject YTE.Common.DTOS.CurrentUserDto CurrentUser


<h1 class="py-3"><i>@ViewData["UserName"]</i>'s followers</h1>

<link href="~/css/input.css" rel="stylesheet" />
<form class="py-3"href="/FollowList/FollowersOf/@ViewData["UserName"]" method="get">
    <div class="form-actions no-color">
        <p>
            Find by UserName: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-outline-primary" />
            <a class="btn btn-outline-secondary" href="/FollowList/FollowersOf/@ViewData["UserName"]">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                User Name
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    <img src="@item.FollowerImage" width="50" height="50" />
                </td>
                <td>
                    <a href="/UserProfile/Details/@item.FollowerUserName">@item.FollowerUserName</a>
                </td>

            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";
}

<a asp-action="List"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="List"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
@section Scripts{

    <script src="~/js/add-follow.js"></script>
}
